* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 1rem;
}
nav button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0.6rem 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: gray;
  outline: none;
  border: none;
}

h1,
ul {
  text-align: center;
}

h1 {
  text-decoration: underline;
}

ul {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
ul > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

li {
  padding-block: 0.5rem;
  background-color: #d9d9d9;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
